version: '3'
services:
  {% if 'web' in group_names %}

  web:
    image: tootsuite/mastodon:{{mastodon_git.json.tag_name}}
    restart: always
    env_file: .env.production
    command: bash -c "rm -f /mastodon/tmp/pids/server.pid; bundle exec rails s -p 3000"
    healthcheck:
      test: ['CMD-SHELL', 'wget -q --spider --proxy=off localhost:3000/health || exit 1']
    ports:
      - '0.0.0.0:3000:3000'
    volumes:
      - ./public/system:/mastodon/public/system
    deploy:
      resources:
        limits:
          memory: 512m
  {% endif %}
  {% if 'streaming' in group_names %}

  streaming:
    image: tootsuite/mastodon:{{mastodon_git.json.tag_name}}
    restart: always
    env_file: .env.production
    command: node ./streaming
    {% if 'pi' in inventory_hostname %}

    healthcheck:
      test: ['CMD-SHELL', 'wget -q --spider --proxy=off localhost:4040/api/v1/streaming/health || exit 1']
    ports:
      - '0.0.0.0:4040:4000'
    {% else %}

    healthcheck:
      test: ['CMD-SHELL', 'wget -q --spider --proxy=off localhost:4000/api/v1/streaming/health || exit 1']
    ports:
      - '0.0.0.0:4000:4000'
    {% endif %}

    deploy:
      resources:
        limits:
          memory: 256m
  {% endif %}
  {% if 'sidekiq' in group_names %}
    {% if 'vega' in inventory_hostname %}

  sidekiq_all:
    image: tootsuite/mastodon:{{mastodon_git.json.tag_name}}
    restart: always
    env_file: .env.production
    command: bundle exec sidekiq -c 15
    mem_limit: 512M
    {% else %}

  sidekiq:
    image: tootsuite/mastodon:{{mastodon_git.json.tag_name}}
    restart: always
    env_file: .env.production
    command: bundle exec sidekiq -c 15 -q default -q push -q ingress -q pull -q mailers
    mem_limit: 512M
    {% endif %}
  {% endif %}