version: "3"
services:
  web:
    image: ghcr.io/mastodon/mastodon:{{mastodon_git.json.tag_name}}
    restart: always
    env_file: .env.production
    command: bash -c "rm -f /mastodon/tmp/pids/server.pid; bundle exec rails s -p 3000"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "wget -q --spider --proxy=off localhost:3000/health || exit 1",
        ]
    ports:
      - "3000:3000"
    deploy:
      resources:
        limits:
          memory: 512m
      placement:
        constraints:
          - node.hostname == altair

  streaming:
    image: ghcr.io/mastodon/mastodon:{{mastodon_git.json.tag_name}}
    restart: always
    env_file: .env.production
    command: node ./streaming
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "wget -q --spider --proxy=off localhost:4000/api/v1/streaming/health || exit 1",
        ]
    ports:
      - "4000:4000"
    deploy:
      placement:
        constraints:
          - node.hostname == altair

  sidekiq:
    image: ghcr.io/mastodon/mastodon:{{mastodon_git.json.tag_name}}
    restart: always
    env_file: .env.production
    command: bundle exec sidekiq -c 15 -q default -q push -q ingress -q pull
    healthcheck:
      test: ["CMD-SHELL", "ps aux | grep '[s]idekiq\ 6' || false"]
    deploy:
      replicas: 6
      placement:
        constraints:
          - node.hostname == vega
